@font-face {
    font-family: "fontawesome";
    src: url(./revo-studio/fonts/FontAwesome.otf) format('opentype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "fontawesome";
}
a{
    text-decoration: none;
}
nav{
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 30px;
}
.menulist{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
}

.image-slider{
    position: relative;
    height: 100vh;
    z-index: 9;
    overflow: hidden;
}
.container{
    padding-inline: 276px;
}
.txt-center{
    text-align: center !important;
}
.logo > span {
color: #67d5b5;
}
.logo{
    font-family: "Poppins";
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
}
.slider-txt-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.5;
}
.pos-absolute{
    position: absolute !important;
}
.slider-main-heading{
    font-size: 60px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
}
.slider-sub-para{
    height: 56px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 26px;
}
.slider-btn{
    background-color: #66d6b6;
    color: white;
    padding: 10px;
    padding-block: 10px;
    padding-inline: 26px;
}
.slider-btn:hover{
    background-color: white;
    color: black;
    animation: pulse 2s alternate;
}

.sticky{
    position: fixed;
    top: 0;
    background-color: black;
    padding-block: 26px;
    transition: top 1s;
}

@keyframes pulse {
    0%{
        transform: scale(0.5);
    }
    100%{
        background-color: red;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(10);
    }
}


.slider-super-heading{
    color: white;
    letter-spacing: 11px;
}
.weareawesome h2, .our-partners h2{
    letter-spacing: 3px;
}
.mt-5{
    margin-top: 5rem;
}
.dots{
    height: 8px;
    width: 8px;
    background: #67d5b5;
    border-radius: 50%;
}
.strike-dots {
    display: flex;
    gap: 2px;
    justify-content: center;
    padding-block: 10px;
    position: relative;
}
.strike{
    /* position: absolute;
    text-align: center;
    width: 43px;
    height: 2px;
    background-color: black;
    transform: translateY(3px); */
}
.weareawesome > .container > p{
    max-width: 75%;
    margin-inline: auto;
}
.card-info{
    flex: 0 0 33%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    gap: 8px;
}
.agency-info{
    display: flex;
    gap: 30px;
}
.card-info > .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 2px solid #67d5b5;
    border-radius: 50%;
}
.strike-dots::after{
    content: '';
    position: absolute;
    text-align: center;
    width: 43px;
    height: 2px;
    background-color: black;
    transform: translateY(3px);
}
.color-gray{
    color: gray;
}
.title{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-block: 3px;
}
.portfolio{
    background-color: white;
    color: black;
    display: inline-block;
    padding-block: 5px;
    padding-inline: 15px;
    border: 1px solid gray;
}
.portfolio:hover{
    background-color: #67d5b5;
    border: 1px solid #67d5b5;
    columns: white;
}
.links-portfolio{
    display: flex;
    justify-content: center;
    gap: 28px;
}